  <div id="comment_count"></div>
  <div id="disqus_thread" style="display: none;"></div>
  <script type="text/javascript">
    var DISQUSWIDGETS = {
      displayCount: function(data) {
        var count = data.counts[0].comments;
        document.getElementById("comment_count_link").innerHTML = "Show " + count + " comment" + (count == 1 ? "" : "s");
      }
    };
    var disqus_identifier = "{{ page.id }}";

    var showComments = function() {
      document.getElementById("comment_count").style.display = "none";
      document.getElementById("disqus_thread").style.display = "block";

      var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
      dsq.src = '//{{ site.disqus_shortname }}.disqus.com/embed.js';
      (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    };

    ( function() {
        document.getElementById("comment_count").innerHTML = "<a id='comment_count_link' onclick='showComments();'>...</a>";

        var s = document.createElement("script");
        var encoded_id = encodeURI("{{ page.id }}");
        s.setAttribute("src", "http://{{ site.disqus_shortname }}.disqus.com/count-data.js?1=" + encoded_id);
        document.getElementsByTagName("HEAD")[0].appendChild(s);
    })();
  </script>
